<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="zeekmiauto-plugin-assets"
    version="1.0.0">

    <name>ZeekMiAutoAssets</name>
    <description>Sounds and graphic assets for Zeek Mi Auto</description>
    <license>MIT</license>

    <repo>https://github.com/argust/zeekmiauto-plugin-assets</repo>
    <issue>https://github.com/argust/zeekmiauto-plugin-assets/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
	<platform name="ios">
		<resource-file src="src/ios/Library/Sounds/modoalarma2.wav"/>
		<resource-file src="src/ios/Library/Sounds/modoalarma3.wav"/>
	</platform>
	<platform name="android">
		<source-file src="src/android/res/drawable/launcher_icon.png" target-dir="res/drawable"/>
		<source-file src="src/android/res/drawable/modoalarma.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/share_via_barcode.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/shopper_icon.png" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable-hdpi/launcher_icon.png" target-dir="res/drawable-hdpi"/>
		<source-file src="src/android/res/drawable-hdpi/modoalarma.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/shopper_icon.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-xhdpi/launcher_icon.png" target-dir="res/drawable-xhdpi"/>
        <source-file src="src/android/res/drawable-xxhdpi/launcher_icon.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/drawable-xhdpi/modoalarma.png" target-dir="res/drawable-xhdpi"/>
        <source-file src="src/android/res/drawable-xxhdpi/modoalarma.png" target-dir="res/drawable-xxhdpi"/>
		<source-file src="src/android/res/raw/beep.ogg" target-dir="res/raw"/>
		<source-file src="src/android/res/raw/modoalarma1.ogg" target-dir="res/raw"/>
		<source-file src="src/android/res/raw/modoalarma2.ogg" target-dir="res/raw"/>
		<source-file src="src/android/res/raw/modoalarma3.ogg" target-dir="res/raw"/>
	</platform>
</plugin>